In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Taking the exact same features from the 2020 dataset we used for initial model training
features_hardcoded = ['accgdln', 'age', 'altdum', 'amttotal', 'casetype', 'citwhere',
       'combdrg2', 'crimhist', 'disposit', 'district', 'drugmin', 'dsplea',
       'educatn', 'intdum', 'methmin', 'monrace', 'monsex', 'mweight',
       'newcit', 'newcnvtn', 'neweduc', 'newrace', 'nodrug', 'numdepen',
       'offguide', 'prisdum', 'probatn', 'probdum', 'quarter', 'reas1',
       'reas2', 'reas3', 'regsxmin', 'relmin', 'restdet1', 'restdum', 'safe',
       'safety', 'senspcap', 'sensplt0', 'sentimp', 'smax1', 'smin1',
       'sources', 'statmax', 'statmin', 'supermax', 'supermin', 'suprdum',
       'suprel', 'timservc', 'totchpts', 'totrest', 'totunit', 'typemony',
       'typeoths', 'unit1', 'mwgt1', 'wgt1', 'xcrhissr', 'xfolsor', 'xmaxsor',
       'xminsor', 'sentrnge']

In [3]:
def get_csv(filepath):
    df = pd.read_csv(filepath)
    df.columns = [col.lower() for col in df.columns]
    return df

In [4]:
df_2018_raw = get_csv('~/Desktop/opafy18nid.csv')

In [ ]:
df_2018 = df_2018_raw.copy()
df_2018.head()

,pooffice,zone,sorgdl,descrip1,descrip2,descrip3,descrip4,descrip5,descrip6,descrip7,...,retext28,retext29,retext30,retext31,retext32,retext33,retext34,retext35,pcntdept,mnthdept
0,3,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.510638,16.0
1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,4.0
3,2,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,4.0
4,1,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2018.drop(columns = [col for col in df_2018.columns if col not in features_hardcoded], inplace = True)

In [7]:
set(features_hardcoded).symmetric_difference(set(df_2018.columns))

set()

In [8]:
df_2018.to_csv('data/2018_feats.csv')

In [9]:
df_2019_raw = get_csv('~/Desktop/opafy19nid.csv')

In [10]:
df_2019 = df_2019_raw.copy()
df_2019.drop(columns = [col for col in df_2019.columns if col not in features_hardcoded], inplace = True)

In [11]:
set(features_hardcoded).symmetric_difference(set(df_2019.columns))

set()

In [12]:
df_2019.to_csv('data/2019_feats.csv')

In [13]:
df_2019.shape

(76538, 64)

In [3]:
df_2020 = pd.read_csv('data/drugs_cleaner.csv')

In [21]:
df_2020.drop(columns = [col for col in df_2020.columns if col.lower() not in features_hardcoded], inplace = True)

In [22]:
df_2020.shape

(16829, 64)

In [39]:
df_2020.columns = df_2018.columns

In [40]:
df_2018.shape

(69425, 64)

In [41]:
x = 16829 + 69425 + 75638
x

161892

In [42]:
aggregate = pd.concat([df_2018, df_2019, df_2020])

In [43]:
aggregate.shape

(162792, 64)

In [44]:
aggregate.to_csv('data/aggregate_years.csv', index = False)

In [4]:
df_2020.shape

(16829, 70)

In [5]:
df = pd.read_csv('data/drugs_2020_simply_imputed.csv')

In [6]:
df.shape

(16829, 64)